{% extends 'base.html' %}
{% load static %}
{% block title %}Radhiansya Zain Antriksa Putra{% endblock %}

{% block content %}
{% include 'nav.html' %}
    <section id="home">
        <h4>Hello...</h4>
        <h1>I'm Radhiansya Zain</h1>
        <a class="the-flash" href="#about"><i class="material-icons md-96">keyboard_arrow_down</i></a>
        <div class="social">
            <a class="mail" href="mailto:radhi.rz666@gmail.com" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
            <a class="twt" href="https://twitter.com/radhiansya" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            <a class="ig" href="https://www.instagram.com/rzap__/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            <a class="med" href="https://medium.com/@RadhiansyaZ" target="_blank"><i class="fab fa-medium fa-2x"></i></a>
            <a class="likin" href="https://id.linkedin.com/in/radhiansya-zain-antriksa-putra-043433150" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
    </section>
    <section id="about" class="container info min-vh-100">
        <div class="row">
            <div class="col d-flex justify-content-end break">
                <div class="text-center">
                    <br>
                    <br>
                    <h1 style="font-weight: 600;">About</h1>
                    <span class="Karla">Hope this will tell you who I am</span>
                </div>
            </div>
        </div>
            <div class="row">
                <div style="background-color: white;" class="col-sm-7">
                    <br>
                    <img class="pic" src="{% static "img/profilepict-min.jpg" %}" alt="RadhiansyaZ">
                    <br>
                    <h3 class="Tag">Who Iam?</h3>
                    <p>I'm Freshman majoring in Computer Science at Faculty of Computer Science, Universitas Indonesia. Currently passionate in searching for self passion and self motivation because I love procrastinating. However, I really like to read, especially around the topics of Philosophy, Politics, and Non-fiction. In the mean time, I'm very interested in Web Development and Data Science. </p>
                </div>
                <div style="background-color: white;" class="name d-flex col-sm-5 align-items-center">
                    <ul>
                        <li>
                        <strong>Fullname</strong>
                        <span>Radhiansya Zain Antriksa Putra</span>
                        </li>
                        <br>
                        <li>
                        <strong>Birth Date</strong>
                        <span>April 25, 2001</span>
                        </li>
                        <br>
                        <li>
                        <strong>Hobbies</strong>
                        <span>Watching Movie or TV Series, Reading Books, and Discussion About Various Topics.</span>
                        </li>
                        <br>
                        <li>
                        <strong>Major</strong>
                        <span>Computer Science</span>
                        </li>
                        <br>
                        <li>
                        <strong>Contact</strong>
                        <span>radhiansya.zain@ui.ac.id</span>
                        </li>
                        <br>
                    </ul>
                </div>
            </div>
    </section>
    <section id="education" class="container info min-vh-100">
        <div class="row">
            <div class="col d-flex justify-content-end break">
                <div class="text-center">
                    <br>
                    <br>
                    <h1 style="font-weight: 600;">Education</h1>
                    <span class="Karla">My background and experiences</span>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <br>
            <br>
        </div>
        <div class="row justify-content-center mb-3">
			<div class="col-sm-4 d-flex align-items-start justify-content-end break">
				<img class="ed d-flex" src="{% static "img/education.png" %}">
			</div>
			<div class="col-sm-8">
                <br>
				<h4> Universitas Indonesia <h4>
                <h6> 2019 - present </h6>
                <ul class="lis">
                    <li>
                        Staff of Data Science Academy - COMPFEST
                    </li>
                    <li>
                        Staff of Verification and Supervision Division - Pemira IKM Fasilkom UI
                    </li>
                </ul>
			</div>
		</div>
		<div class="row justify-content-center mb-3">
			<div class="d-flex pic-box col-sm-4 d-flex align-items-start justify-content-end break">
				<img class="ed d-flex" src="{% static "img/education.png" %}">
			</div>
			<div class="col-sm-8">
                <br>
				<h4> SMAN 2 Depok</h4>
                <h6> 2016 - 2019 </h6>
                <ul class="lis">
                    <li>
                        Head of SMAN 2 Depok Study Club (2018-2019)
                    </li>
                    <li>
                        HRD of SMAN 2 Depok Robotic Club (2017-2018)</p>
                    </li>
                </ul>
			</div>
		</div>
    </section>
    <section style="background-color: white;" id="projects" class="container info min-vh-100">
        <div class="row">
            <div class="col d-flex justify-content-end break">
                <div class="text-center">
                    <br>
                    <br>
                    <h1 style="font-weight: 600;">Projects</h1>
                    <span class="Karla">Check out my work(s).</span>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="background-color: white;" class="col-sm-8 tp d-flex justify-content-center">
                <br>
                <br>
                <img src="{% static "img/Tp4.png" %}" alt="">
            </div>
            <div style="background-color: white;" class="col-sm-4">
                <br>
                <br>
                <h4>ProgAss 4 - Budaya KB Lite</h4>
            </div>
        </div>
    </section>
    <div class="top"><a href="{% url 'exia-index' %}#home"><i class="material-icons md-36">arrow_upward</i></a></div>
{% endblock %}