{% extends 'base.html' %}
{% block title %}My Reading List{% endblock %}

{% block content %}
{% include 'nav.html' %}
    <section style="background-color: #ebebeb;" id="about" class="container info min-vh-100">
        <div class="row">
            <div class="col d-flex justify-content-end">
                <div class="text-center">
                    <br>
                    <h1 style="font-weight: 600;">Reading List</h1>
                </div>
            </div>
        </div>
            <div class="row">
                <div style="background-color: #ebebeb;" class="name d-flex col-sm-6 align-items-center">
                </div>
                <div style="background-color: #ebebeb;" class="col-sm-6">
                    <br>
                   <p style="text-align: right; font-size: 1.1rem;">Here are some books that I'm currently or planning on reading. Well,  it is mostly about philosophy or politics, but sometimes non-fiction too. If you have other great title suggestions that you personally love, or want to discuss about a certain book, feel free to <a href="mailto:radhi.rz666@gmail.com">email</a> me. </p>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <ul class="book-list">
                        <li>
                            Here goes the list :
                        </li>
                        <li>
                            -Madilog by Tan Malaka
                        </li>
                        <li>
                            -Sapiens by Yuval Noah Harari
                        </li>
                        <li>
                            -Dunia Sophie by Jostein Gaarder
                        </li>
                        <li>
                            -Pendidikan Kaum Tertindas by Paulo Freire
                        </li>
                        <li>
                            -Catatan Seorang Demonstran by Soe Hok Gie
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-primary bg-info" data-toggle="modal" data-target="#exampleModalCenter">
                        Don't know the books cover?</button>
                        <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div style="background-color: #4DD0E1;" class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Here are the covers.</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <!-----------------------------------Carousel--------------------------------------->
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                      <li class="bg-dark" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                      <li class="bg-dark" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                      <li class="bg-dark" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                      <li class="bg-dark" data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                      <li class="bg-dark" data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img class="d-block w-100" src="https://www.berdikaribook.red/image/data/NARASI/madilog2.jpg" alt="Madilog">
                                      </div>
                                      <div class="carousel-item">
                                        <img class="d-block w-100" src="https://www.berdikaribook.red/image/data/sapiens2.jpg" alt="Sapiens">
                                      </div>
                                      <div class="carousel-item">
                                        <img class="d-block w-100" src="https://www.berdikaribook.red/image/data/MIZAN-GRUP/duniasophie2.png" alt="Dunia Sophie">
                                      </div>
                                      <div class="carousel-item">
                                        <img class="d-block w-100" src="https://www.berdikaribook.red/image/data/NARASI/PendidikanKaumTertindasPauloFreireweb.jpg" alt="Pendidikan Kaum Tertindas">
                                      </div>
                                      <div class="carousel-item">
                                        <img class="d-block w-100" src="https://www.berdikaribook.red/image/data/CatatanSeorangDemonstrann.jpg" alt="Catatan Seorang Demonstran">
                                      </div>
                                    </div>
                                    <a class="carousel-control-prev bg-dark" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next bg-dark" href="#carouselExampleIndicators" role="button" data-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
    </section>
{% endblock %}