{% extends 'base.html' %}
{% load static %}
{% block title %}Time Response - Challenge 4{% endblock %}

{% block content %}
{% include 'nav.html' %}
<div style="text-align: center;" class="container">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <h1>It is now</h1>
            <h4><strong>{{ now }}</strong></h4>
        </div>
    </div>
</div>
{% endblock %} 