{% extends 'base.html' %}
{% block title %}Aktivitas{% endblock %}
{% block content %}
{% include 'nav.html' %}
<div class="container">
    <div style="margin-left: auto;" class="row">
        <h3 style="margin-top: 35px;">Activities</h3>
        <br>
    </div>
    <br>
    <div style="margin-left: auto;" class="row">
      <form method="POST">
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="button" class="btn btn-outline-primary">Add activity</button>
      </form>
    </div>
    <br>
    <div class="row">
      <div class="col">
        {% if isThere  %}
        {% for items in db_ak %}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{ items.aktivitas }}</h4>
            <p class="card-text">
              <p>Peserta: </p>
                {% for i in db_pers %}
                  {% if i.kegiatan == items %}
                  <ul>
                    <li>{{ i.nama }}</li>
                  </ul>
                  {% endif %}
                {% endfor %}
                </p>
            <div class="d-flex flex-row">
              <a style="margin-left: 20px;" href="{% url 'add_guest' items.id %}" class="card-link btn btn-outline-primary">Tambah Peserta</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <br>
</div>
{% endblock %}