{% extends 'base.html' %}
{% block title %}Tambah Peserta Aktivitas{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'nav.html' %}

<div style="margin-top: 30px;" class="container">
    <div style="margin-top: 20px;" class="row">
        <div class="col">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <br>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <br>
</div>
{% endblock %}