<nav class="navbar sticky-top navbar-expand-md navbar-light px-3 py-0" style="background: #4DD0E1;">
    <a class="navbar-brand" href="{% url 'exia-index' %}#home"><strong>radhiansya.</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto"></div>
    <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'exia-index' %}#home"><strong>Home</strong></a>
            <a class="nav-item nav-link" href="{% url 'exia-index' %}#about"><strong>About</strong></a>
            <a class="nav-item nav-link" href="{% url 'exia-index' %}#projects"><strong>Projects</strong></a>
            <a class="nav-item nav-link" href="{% url 'exia-readlist' %}"><strong>Reading List</strong></a>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Story</strong>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'astraea-home' %}" target="_blank">Story 1</a>
                <a class="dropdown-item" href="{% url 'Course' %}">Courses</a>
                <a class="dropdown-item" href="{% url 'Activity' %}">Activities</a>
              </div>
            </div>
    </div>
  </div>
</nav>