{% extends 'base.html' %}
{% block title %}Mata Kuliah{% endblock %}
{% block content %}
{% include 'nav.html' %}
<div class="container">
    <div style="margin-left: auto;" class="row">
        <h3 style="margin-top: 35px;">Courses that I take</h3>
        <br>
    </div>
    <br>
    <div style="margin-left: auto;" class="row">
      <a href="{% url 'Course_add' %}"><button type="button" class="btn btn-outline-primary">Add more Course</button></a>
    </div>
    <br>
    <div class="row">
      <div class="col">
        {% if isThere  %}
        {% for items in db %}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{ items.nama_matkul }}</h4>
            <p class="card-text">
              {{ items.deskripsi }}
            </p>
            <div class="d-flex flex-row">
              <form method="POST" action="{% url 'Course' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ items.id }}">
                <button type="submit" value="Submit" class="card-link btn btn-danger">Delete</button>
              </form>
              <a style="margin-left: 20px;" href="{% url 'detail' items.id %}" class="card-link btn btn-outline-primary">Read more</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <br>
</div>
{% endblock %}