{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
{% include 'nav.html' %}
<div class="container">
    <div style="margin-top: 35px;" class="row">
        <h1 style="justify-content: center;">{{ item.nama_matkul }}</h1>
    </div>
    <br>
    <table class="table table-secondary table-bordered table-hover">
        <tbody>
          <tr>
            <td>Lecturer(s)</td>
            <td>{{ item.dosen_pengajar }}</td>
          </tr>
          <tr>
            <td>Credit(s)</td>
            <td>{{ item.jumlah_sks }}</td>
          </tr>
          <tr>
            <td>Term</td>
            <td>{{ item.semester }}</td>
          </tr>
          <tr>
            <td>Classroom</td>
            <td>{{ item.kelas }}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{ item.deskripsi }}</td>
          </tr>
          <tr>
            <td>Tugas</td>
            <td>
              <ul class="list-group">
                {% for i in overdue %}
                <li class="list-group-item list-group-item-danger">{{ i.nama_tugas }}. Due date: {{ i.deadline }}</li> 
                {% endfor %}
                {% for i in near %}
                <li class="list-group-item list-group-item-warning">{{ i.nama_tugas }}. Due date: {{ i.deadline }}</li> 
                {% endfor %}
                {% for i in far %}
                <li class="list-group-item list-group-item-success">{{ i.nama_tugas }}. Due date: {{ i.deadline }}</li> 
                {% endfor %}
              </ul>
            </td>
          </tr>
        </tbody>
    </table>
    <a href="{% url 'Course' %}"><button type="button" class="btn btn-success">Back to Course</button></a>
    <br>
</div>
{% endblock %}