{% extends 'base.html' %}
{% block title %}Tambah Matkul{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'nav.html' %}

{% if submitted %}
    <div style="margin-top: 35px;" class="container">
        <h4>Form has been submitted.</h4>
        <a href="{% url 'Course_add' %}"><button type="button" class="btn btn-outline-success">Return</button></a>
    </div>
{% else %}
<div style="margin-top: 30px;" class="container">
    <div style="margin-left: auto;" class="row">
        <a href="{% url 'Course' %}"><button type="button" class="btn btn-secondary">Go Back</button></a>
    </div>
    <div style="margin-top: 20px;" class="row">
        <div class="col">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <br>
</div>
{% endif %}
{% endblock %}